# php_flag display_errors on

# AllowOverride All
# Options +FollowSymLinks


<IfModule mod_rewrite.c>
# Alias /poll "/Users/hrykmnw/Docker/web_dev/app/"
RewriteEngine On

# RewriteBase /
RewriteCond %{REQUEST_URI} !^/poll
RewriteRule .? /poll/ [R,L]
# RewriteCond %{REQUEST_URI} (.+)/$
# RewriteRule ^ %1 [R=301,L]

# RewriteCond %{HTTP_HOST} ^/poll/
# RewriteRule (.*) /poll/$1 [R=301,L]
# RewriteCond %{THE_REQUEST} ^.*/index.html
# RewriteRule ^(.*)index.html$ /poll/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]
# RewriteRule ^(.*)$ poll/$1/index.php [L]
RewriteRule ^(.*)$ poll/index.php [L]

</IfModule>